.places {
  display: grid;
  gap: 80px;
  list-style-type: none;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 148px;
}

@media screen and (max-width: 1124px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding: 0 24px;
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    padding: 0px;
    gap: 50px;
  }
}
