.header__lang-link {
  font-weight: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  padding: 0;
  margin: 18px 0 6px 18px;
  text-decoration: none;
}

@media screen and ( max-width: 560px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    margin: 14px 0 8px 18px;
  }
}
