.header__logo {
  max-width: 176px;
  max-height: 52px;
  outline: 1px solid rgb(128, 0, 126);
}

@media screen and ( max-width: 568px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
