.lead__image {
  max-width: 984px;
  max-height: 100%;
  margin: 32px auto 0;
  padding: 0;
  object-fit: cover;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    max-width: 928px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    max-width: 100%;
  }
}
