.place {
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  row-gap: 48px;
  column-gap: 40px;
  list-style-type: none;

}


@media screen and ( max-width: 1124px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    column-gap: 32px;

  }
}


@media screen and ( max-width: 984px) {
  .place {
    grid-template-columns: fit-content(340px) fit-content(352px);
    column-gap: 28px;
  }
}

@media screen and ( max-width: 568px) {
  .place {
    grid-template-columns: minmax(320px, 1fr);
    grid-auto-flow: row;
    gap: 32px;
  }
}
